.formulario-content {
  width: 60%;
  padding-bottom: 50px;
}

.formulario-content h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

form {
  background: var(--cor-1);
  width: 100%;
  padding: 40px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

input,
textarea {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

textarea {
  height: 300px;
  resize: none;
}

.mensagem {
  grid-column: 1/-1;
  padding: 0px 20px;
}

label {
  font-size: 22px;
  color: var(--cor-p1);
  margin-bottom: 5px;
  font-weight: 600;
}

button {
  grid-column: 1/-1;
  padding: 20px;
  justify-self: center;
  width: 60%;
  font-size: 22px;
  color: var(--cor-1);
  background: var(--cor-p1);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

button:hover {
  background: var(--cor-1);
  color: var(--cor-p1);
}

.modal-contato {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-conteudo {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.fechar {
  float: right;
  font-size: 28px;
  cursor: pointer;
  margin-top: -10px;
  margin-right: -10px;
}

.btn-link {
  display: block;
  margin: 15px auto;
  padding: 10px 20px;
  background-color: #4c8eff;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
}

@media (max-width: 900px) {
  .formulario-content {
    grid-template-columns: 1fr;
    height: initial;
    justify-items: center;
    width: 90%;
    padding: 20px;
  }
  form {
    grid-template-columns: 1fr;
  }
  .mensagem {
    padding: 0px;
  }
  textarea {
    height: 200px;
  }
}
